In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
colors = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/colors.csv')
sets = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/sets.csv')
inventory_parts = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventory_parts.csv')
inventories = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventories.csv')
parts = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/parts.csv')
themes = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/themes.csv')
part_categories = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/part_categories.csv')
inventory_sets = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventory_sets.csv')

In [76]:
colors.head()

   id            name     rgb is_trans
0  -1       [Unknown]  0033B2        f
1   0           Black  05131D        f
2   1            Blue  0055BF        f
3   2           Green  237841        f
4   3  Dark Turquoise  008F9B        f

In [84]:
sets.head()

,set_num,name,year,theme_id,num_parts,img_url
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg

In [78]:
inventory_parts.head()

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48391,0,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
3,1,48864c01,25,1,f,NaN
4,1,stickerupn0077,9999,1,f,NaN

In [16]:
inventories.head()

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

In [17]:
parts.head()

,part_num,name,part_cat_id,part_material
0,003381,Sticker Sheet for Set 663-1,58,Plastic
1,003383,"Sticker Sheet for Sets 618-1, 628-2",58,Plastic
2,003402,"Sticker Sheet for Sets 310-3, 311-1, 312-3",58,Plastic
3,003429,Sticker Sheet for Set 1550-1,58,Plastic
4,003432,"Sticker Sheet for Sets 357-1, 355-1, 940-1",58,Plastic

In [18]:
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   3     Competition        1.0
2   4  Expert Builder        1.0
3  16      RoboRiders        1.0
4  17  Speed Slammers        1.0

In [19]:
part_categories.head()

   id                     name
0   1               Baseplates
1   3            Bricks Sloped
2   4  Duplo, Quatro and Primo
3   5           Bricks Special
4   6            Bricks Wedged

In [20]:
inventory_sets.head()

   inventory_id  set_num  quantity
0            35  75911-1         1
1            35  75912-1         1
2            39  75048-1         1
3            39  75053-1         1
4            50   4515-1         1

In [53]:
print('colors.shape:', colors.shape)
print('sets.shape:', sets.shape)
print('inventory_parts.shape:', inventory_parts.shape)
print('inventories.shape:', inventories.shape)
print('parts.shape:', parts.shape)
print('themes.shape:', themes.shape)
print('part_categories.shape:', part_categories.shape)
print('inventory_sets.shape:', inventory_sets.shape)

colors.shape: (267, 4)
sets.shape: (23706, 6)
inventory_parts.shape: (1285411, 6)
inventories.shape: (40274, 3)
parts.shape: (55864, 4)
themes.shape: (465, 3)
part_categories.shape: (67, 2)
inventory_sets.shape: (4508, 3)

In [71]:
print('colors isnull:','\n', colors.isnull().sum())
print('\n')
print('sets isnull:','\n',sets.isnull().sum())
print('\n')
print('inventory_parts isnull:','\n',inventory_parts.isnull().sum())
print('\n')
print('inventories isnull:','\n',inventories.isnull().sum())
print('\n')
print('parts isnull:','\n',parts.isnull().sum())
print('\n')
print('themes isnull:','\n',themes.isnull().sum())
print('\n')
print('part_categories isnull:','\n',part_categories.isnull().sum())
print('\n')
print('inventory_sets isnull:','\n',inventory_sets.isnull().sum())

colors isnull:
 id          0
name        0
rgb         0
is_trans    0
dtype: int64


sets isnull:
 set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64


inventory_parts isnull:
 inventory_id       0
part_num           0
color_id           0
quantity           0
is_spare           0
img_url         7098
dtype: int64


inventories isnull:
 inventory_id    0
version         0
set_num         0
dtype: int64


parts isnull:
 part_num         0
name             0
part_cat_id      0
part_material    0
dtype: int64


themes isnull:
 id             0
name           0
parent_id    141
dtype: int64


part_categories isnull:
 id      0
name    0
dtype: int64


inventory_sets isnull:
 inventory_id    0
set_num         0
quantity        0
dtype: int64

In [93]:
# what were the first few years?

# early_sets = sets.sort_values(by=['year'])
# early_sets.head(20)
early_sets = sets[sets['year'] < 1951]
early_sets

,set_num,name,year,theme_id,num_parts,img_url
14329,700.1-1,Extra-Large Gift Set (ABB),1949,365,142,https://cdn.rebrickable.com/media/sets/700.1-1...
14331,700.1.1-1,Single 2 x 4 Brick (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.1.1...
14334,700.1.2-1,Single 2 x 2 Brick (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.1.2...
14342,700.2-1,Large Gift Set (ABB),1949,365,178,https://cdn.rebrickable.com/media/sets/700.2-1...
14347,700.3-1,Medium Gift Set (ABB),1949,365,142,https://cdn.rebrickable.com/media/sets/700.3-1...
14353,700.A-1,Small Brick Set (ABB),1949,371,24,https://cdn.rebrickable.com/media/sets/700.a-1...
14354,700.B-1,Small Doors and Windows Set (ABB),1949,371,12,https://cdn.rebrickable.com/media/sets/700.b-1...
14355,700.B.1-1,Single 1 x 4 x 2 Window without Glass (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.b.1...
14356,700.B.2-1,Single 1 x 2 x 3 Window without Glass (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.b.2...
14357,700.B.3-1,Single 1 x 2 x 2 Window without Glass (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.b.3...
14358,700.B.4-1,Single 1 x 2 x 4 Door without Glass (ABB),1950,371,1,https://cdn.rebrickable.com/media/sets/700.b.4...

In [52]:
# what's planned for 2025?
yr_2025 = sets[sets['year'] > 2024]
yr_2025

,set_num,name,year,theme_id,num_parts,img_url
10998,53325-1,Ninjago Kai Molded Pencil Case,2025,739,0,https://cdn.rebrickable.com/media/sets/53325-1...
11001,53389-1,Spaceman Blue Pencil Case Pop Up,2025,739,0,https://cdn.rebrickable.com/media/sets/53389-1...
11005,53434-1,Spaceman Red Pencil Case Pop Up,2025,739,0,https://cdn.rebrickable.com/media/sets/53434-1...
11014,53500-1,Space Bus Molded Pencil Case,2025,739,0,https://cdn.rebrickable.com/media/sets/53500-1...
20255,892410-1,Zane,2025,435,11,https://cdn.rebrickable.com/media/sets/892410-...
21287,9780241716397-1,How to Build Everything,2025,757,0,https://cdn.rebrickable.com/media/sets/9780241...
21288,9780241727416-1,LEGO Ideas Activity Book: Animals,2025,757,0,https://cdn.rebrickable.com/media/sets/9780241...
21289,9780241727423-1,LEGO Ideas Activity Book: Space,2025,757,0,https://cdn.rebrickable.com/media/sets/9780241...
21874,9781837250615-1,ReBuild Activity Cards: Celebration,2025,741,0,https://cdn.rebrickable.com/media/sets/9781837...
21875,9781837250622-1,ReBuild Activity Cards: Animals,2025,741,0,https://cdn.rebrickable.com/media/sets/9781837...
21876,9781837250639-1,ReBuild Activity Cards: Magic,2025,741,0,https://cdn.rebrickable.com/media/sets/9781837...
21877,9781837250646-1,ReBuild Activity Cards: Space,2025,741,0,https://cdn.rebrickable.com/media/sets/9781837...

In [94]:
# what items have num_parts=0?
zero_parts = sets[sets['num_parts'] < 1]
zero_parts

,set_num,name,year,theme_id,num_parts,img_url
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
14,005-2,Discovery Set,1967,756,0,https://cdn.rebrickable.com/media/sets/005-2.jpg
15,00-6,Special Offer,1985,67,0,https://cdn.rebrickable.com/media/sets/00-6.jpg
27,022-2,Doll Furniture,1965,756,0,https://cdn.rebrickable.com/media/sets/022-2.jpg
71,0751359483-1,The Ultimate LEGO Book,1999,758,0,https://cdn.rebrickable.com/media/sets/0751359...
...,...,...,...,...,...,...
23697,XBOXGAME-9,Star Wars: The Video Game - Xbox,2005,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
23702,YOTO-1,"1, 2, 3 Play with Me YOTO Cards",2021,501,0,https://cdn.rebrickable.com/media/sets/yoto-1.jpg
23703,YOTO-2,A is for Alphabet,2021,501,0,https://cdn.rebrickable.com/media/sets/yoto-2.jpg
23704,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
23705,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

In [113]:
# what are the materials?
materials = []

for i in range(0, len(parts['part_material'])):
    if parts['part_material'][i] not in materials:
        materials.append(parts['part_material'][i])
print("Materials:", materials)

Materials: ['Plastic', 'Rubber', 'Cardboard/Paper', 'Cloth', 'Flexible Plastic', 'Metal', 'Foam']

In [118]:
# what were the first materials? when did materials change? 
# need to merge parts with sets for the year

parts.sort_values(by='part_material')

,part_num,name,part_cat_id,part_material
51221,cardupn0001pr0164,"Trading Card, Harry Potter, Sticker - Pixie",17,Cardboard/Paper
52308,cardupn0085pr0008,"Activity Card, Set 9654-1, Card 8",17,Cardboard/Paper
52307,cardupn0085pr0007,"Activity Card, Set 9654-1, Card 7",17,Cardboard/Paper
52306,cardupn0085pr0006,"Activity Card, Set 9654-1, Card 6",17,Cardboard/Paper
52305,cardupn0085pr0005,"Activity Card, Set 9654-1, Card 5",17,Cardboard/Paper
...,...,...,...,...
28988,5102c406,"Hose, Pneumatic 4mm D. 406L",30,Rubber
38965,92402,Tyre 30.4 x 14 Offset Tread [Centre Band],29,Rubber
38966,92409,Tyre 17.5 x 6 with Shallow Staggered Treads an...,29,Rubber
28995,5102c50,"Hose, Pneumatic 4mm D. 50L / 400mm",30,Rubber
55336,upn0144c12,Hose Soft 3mm D. 12L,30,Rubber

In [121]:
sets.head()

,set_num,name,year,theme_id,num_parts,img_url
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg

In [7]:
# sets_parts = sets + parts
sets_parts = sets.merge(parts, left_on='name', right_on='name')
sets_parts

# df.loc[:,['Maths Score','Name','Sr.no']]

sets_parts = sets_parts.loc[:,['name', 'year', 'part_material', 'set_num', 'num_parts','part_num', 
                               'theme_id', 'part_cat_id', 'img_url']]
sets_parts

,name,year,part_material,set_num,num_parts,part_num,theme_id,part_cat_id,img_url
0,Idea Book 260,1990,Plastic,260-1,2,ideabook260,757,17,https://cdn.rebrickable.com/media/sets/260-1.jpg
1,Plate 4 x 4,1996,Plastic,5028-1,1,3031,443,14,https://cdn.rebrickable.com/media/sets/5028-1.jpg
2,Idea Book 697,1997,Plastic,697-2,2,697,757,17,https://cdn.rebrickable.com/media/sets/697-2.jpg
3,Wrecking Ball,2019,Plastic,75976-1,227,20582,669,36,https://cdn.rebrickable.com/media/sets/75976-1...
4,Idea Book 7777,1981,Plastic,7777-1,1,ideabook7777,757,17,https://cdn.rebrickable.com/media/sets/7777-1.jpg
5,Wooden Minifigure,2019,Cardboard/Paper,853967-1,1,853967,683,57,https://cdn.rebrickable.com/media/sets/853967-...
6,Windup Motor,1981,Plastic,890-1,10,384,473,44,https://cdn.rebrickable.com/media/sets/890-1.jpg
7,Windup Motor,1986,Plastic,895-1,10,384,473,44,https://cdn.rebrickable.com/media/sets/895-1.jpg
8,Weapon Pack,2012,Plastic,9591-1,73,2665,435,27,https://cdn.rebrickable.com/media/sets/9591-1.jpg
9,Solar Panel,2010,Plastic,9667-1,1,78267a,529,38,https://cdn.rebrickable.com/media/sets/9667-1.jpg
10,Mindstorms NXT Touch Sensor Multiplexer,2009,Plastic,MS1060-1,1,upn0488,259,45,https://cdn.rebrickable.com/media/sets/ms1060-...

In [141]:
# what are part_num = ideabooks? 

ideabook = sets_parts.loc[sets_parts['part_num'].str.contains('ideabook')]
ideabook

,set_num,name,year,theme_id,num_parts,img_url,part_num,part_cat_id,part_material
0,260-1,Idea Book 260,1990,757,2,https://cdn.rebrickable.com/media/sets/260-1.jpg,ideabook260,17,Plastic
4,7777-1,Idea Book 7777,1981,757,1,https://cdn.rebrickable.com/media/sets/7777-1.jpg,ideabook7777,17,Plastic

In [133]:
# sets_themes = sets + themes
sets_themes = sets.merge(themes, left_on="theme_id", right_on='id')

# rename cols
sets_themes = (sets_themes.rename(columns={'name_x':'set_name', 'name_y':'theme_name'}))

# drop col id
sets_themes.drop(columns=['id'])

sets_themes.head(2)

,set_num,set_name,year,theme_id,num_parts,img_url,id,theme_name,parent_id
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...,761,Activity Books with LEGO Parts,497.0
1,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,761,4,https://cdn.rebrickable.com/media/sets/0022539...,761,Activity Books with LEGO Parts,497.0

In [119]:
# sets_themes_inventories = sets_themes + inventories
sets_themes_inventories = sets_themes.merge(inventories, left_on='set_num', right_on='set_num')

sets_themes_inventories.head(2)

,set_num,set_name,year,theme_id,num_parts,img_url,id,theme_name,parent_id,inventory_id,version
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...,761,Activity Books with LEGO Parts,497.0,206820,1
1,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,761,4,https://cdn.rebrickable.com/media/sets/0022539...,761,Activity Books with LEGO Parts,497.0,133027,1

In [135]:
# inventoryparts_colors = inventory_parts + colors
inventoryparts_colors = inventory_parts.merge(colors, left_on='color_id', right_on='id')

inventoryparts_colors.head(2)

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,name,rgb,is_trans
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,22,15573,72,1,f,https://cdn.rebrickable.com/media/parts/elemen...,72,Dark Bluish Gray,6C6E68,f

In [140]:
# inventoryparts_colors_parts = inventoryparts_colors + parts
inventoryparts_colors_parts = inventoryparts_colors.merge(parts, left_on='part_num', right_on='part_num')

# rename cols
inventoryparts_colors_parts = (inventoryparts_colors_parts.rename(
    columns={'name_x':'color_name','name_y':'part_name'}))

inventoryparts_colors_parts.head(2)

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans,part_name,part_cat_id,part_material
0,1,48379c04,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f,"Large Figure Torso and Legs, with Black Feet",41,Plastic
1,11896,48379c04,15,1,f,https://cdn.rebrickable.com/media/parts/photos...,15,White,FFFFFF,f,"Large Figure Torso and Legs, with Black Feet",41,Plastic