In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
colors = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/colors.csv')
sets = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/sets.csv')
inventory_parts = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventory_parts.csv')
inventories = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventories.csv')
parts = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/parts.csv')
themes = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/themes.csv')
part_categories = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/part_categories.csv')
inventory_sets = pd.read_csv('/Users/slp22/code/Datasets_5Sep2024/inventory_sets.csv')

In [ ]:
colors.head()

In [4]:
sets.head()

,set_num,name,year,theme_id,num_parts,img_url
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg

In [ ]:
inventory_parts.head()

In [ ]:
inventories.head()

In [5]:
parts.head()

,part_num,name,part_cat_id,part_material
0,003381,Sticker Sheet for Set 663-1,58,Plastic
1,003383,"Sticker Sheet for Sets 618-1, 628-2",58,Plastic
2,003402,"Sticker Sheet for Sets 310-3, 311-1, 312-3",58,Plastic
3,003429,Sticker Sheet for Set 1550-1,58,Plastic
4,003432,"Sticker Sheet for Sets 357-1, 355-1, 940-1",58,Plastic

In [ ]:
themes.head()

In [ ]:
part_categories.head()

In [ ]:
inventory_sets.head()

In [6]:
sets.describe()

               year      theme_id     num_parts
count  23706.000000  23706.000000  23706.000000
mean    2008.756939    464.323336    161.978908
std       13.982874    226.090790    424.193297
min     1949.000000      1.000000      0.000000
25%     2002.000000    301.000000      1.000000
50%     2013.000000    501.000000     28.000000
75%     2019.000000    671.000000    137.000000
max     2025.000000    767.000000  11695.000000

In [7]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

In [8]:
# print('colors.shape:', colors.shape)
print('sets.shape:', sets.shape)
# print('inventory_parts.shape:', inventory_parts.shape)
# print('inventories.shape:', inventories.shape)
print('parts.shape:', parts.shape)
# print('themes.shape:', themes.shape)
# print('part_categories.shape:', part_categories.shape)
# print('inventory_sets.shape:', inventory_sets.shape)

sets.shape: (23706, 6)
parts.shape: (55864, 4)

In [9]:
# print('colors isnull:','\n', colors.isnull().sum())
# print('\n')
print('sets isnull:','\n',sets.isnull().sum())
print('\n')
# print('inventory_parts isnull:','\n',inventory_parts.isnull().sum())
# print('\n')
# print('inventories isnull:','\n',inventories.isnull().sum())
# print('\n')
print('parts isnull:','\n',parts.isnull().sum())
print('\n')
# print('themes isnull:','\n',themes.isnull().sum())
# print('\n')
# print('part_categories isnull:','\n',part_categories.isnull().sum())
# print('\n')
# print('inventory_sets isnull:','\n',inventory_sets.isnull().sum())

sets isnull:
 set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64


parts isnull:
 part_num         0
name             0
part_cat_id      0
part_material    0
dtype: int64

In [10]:
sets.describe()

               year      theme_id     num_parts
count  23706.000000  23706.000000  23706.000000
mean    2008.756939    464.323336    161.978908
std       13.982874    226.090790    424.193297
min     1949.000000      1.000000      0.000000
25%     2002.000000    301.000000      1.000000
50%     2013.000000    501.000000     28.000000
75%     2019.000000    671.000000    137.000000
max     2025.000000    767.000000  11695.000000

In [11]:
parts.describe()

        part_cat_id
count  55864.000000
mean      39.187509
std       22.106496
min        1.000000
25%       17.000000
50%       42.000000
75%       60.000000
max       69.000000

In [ ]:
# what were the first few years?

# early_sets = sets.sort_values(by=['year'])
# early_sets.head(20)
early_sets = sets[sets['year'] < 1951]
early_sets

In [ ]:
# what's planned for 2025?
yr_2025 = sets[sets['year'] > 2024]
yr_2025

In [ ]:
# what items have num_parts=0?
zero_parts = sets[sets['num_parts'] < 1]
# zero_parts

In [ ]:
# what are the materials?
materials = []

for i in range(0, len(parts['part_material'])):
    if parts['part_material'][i] not in materials:
        materials.append(parts['part_material'][i])
print("Materials:", materials)

In [ ]:
parts.sort_values(by='part_material')

In [14]:
# need to merge parts with sets for the year
# sets_parts = sets(year) + parts(materials)

# sets_parts = sets.merge(parts, left_on='name', right_on='name')
# sets_parts

In [33]:
# DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join

sets_parts = sets.join(parts, lsuffix='_sets', 
                       rsuffix='_parts', how='left')
sets_parts.head(2)

,set_num,name_sets,year,theme_id,num_parts,img_url,part_num,name_parts,part_cat_id,part_material
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...,003381,Sticker Sheet for Set 663-1,58,Plastic
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,003383,"Sticker Sheet for Sets 618-1, 628-2",58,Plastic

In [34]:
print(sets_parts.describe())
print('sets_parts.shape', sets_parts.shape)

               year      theme_id     num_parts   part_cat_id
count  23706.000000  23706.000000  23706.000000  23706.000000
mean    2008.756939    464.323336    161.978908     38.018392
std       13.982874    226.090790    424.193297     22.736626
min     1949.000000      1.000000      0.000000      1.000000
25%     2002.000000    301.000000      1.000000     19.000000
50%     2013.000000    501.000000     28.000000     38.000000
75%     2019.000000    671.000000    137.000000     59.000000
max     2025.000000    767.000000  11695.000000     69.000000
sets_parts.shape (23706, 10)

In [31]:
# reorder columns with df.loc[:,['col_name']]

sets_parts = sets_parts.loc[:,['year','part_material','name_sets','name_parts',   'set_num', 'num_parts','part_num', 
                               'theme_id', 'part_cat_id', 'img_url']]
sets_parts

,year,part_material,name_sets,name_parts,set_num,num_parts,part_num,theme_id,part_cat_id,img_url
0,2022,Plastic,Ninjago: Book of Adventures,Sticker Sheet for Set 663-1,0003977811-1,1,003381,761,58,https://cdn.rebrickable.com/media/sets/0003977...
1,1965,Plastic,Gears,"Sticker Sheet for Sets 618-1, 628-2",001-1,43,003383,756,58,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,1979,Plastic,Town Mini-Figures,"Sticker Sheet for Sets 310-3, 311-1, 312-3",0011-2,12,003402,67,58,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,1987,Plastic,Castle 2 for 1 Bonus Offer,Sticker Sheet for Set 1550-1,0011-3,0,003429,199,58,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,1979,Plastic,Space Mini-Figures,"Sticker Sheet for Sets 357-1, 355-1, 940-1",0012-1,12,003432,143,58,https://cdn.rebrickable.com/media/sets/0012-1.jpg
...,...,...,...,...,...,...,...,...,...,...
23701,2013,Plastic,Yoda Chronicles Promotional Set,Duplo Brick 1 x 2 x 2 with 3 Blueberries and L...,YODACHRON-1,413,4066pr0051,158,4,https://cdn.rebrickable.com/media/sets/yodachr...
23702,2021,Plastic,"1, 2, 3 Play with Me YOTO Cards",Duplo Brick 1 x 2 x 2 with 4 Eggs Print,YOTO-1,0,4066pr0052,501,4,https://cdn.rebrickable.com/media/sets/yoto-1.jpg
23703,2021,Plastic,A is for Alphabet,Duplo Brick 1 x 2 x 2 with Fruit Juice Contain...,YOTO-2,0,4066pr0053,501,4,https://cdn.rebrickable.com/media/sets/yoto-2.jpg
23704,2018,Plastic,Yorkshire Terrier,Duplo Brick 1 x 2 x 2 with Fish Small Print,YTERRIER-1,0,4066pr0054,598,4,https://cdn.rebrickable.com/media/sets/yterrie...
23705,2020,Plastic,ZX 8000 LEGO Sneaker,Duplo Brick 1 x 2 x 2 with Pencil and Crayons ...,ZX8000-1,0,4066pr0055,501,4,https://cdn.rebrickable.com/media/sets/zx8000-...

In [32]:
# df.sort_values(by=['col1'])

sets_parts.sort_values(by=['year'])

,year,part_material,name_sets,name_parts,set_num,num_parts,part_num,theme_id,part_cat_id,img_url
14354,1949,Plastic,Small Doors and Windows Set (ABB),"Tile 2 x 2 with Groove and Dollar Sign, Black ...",700.B-1,12,3068bpr0505,371,19,https://cdn.rebrickable.com/media/sets/700.b-1...
14353,1949,Plastic,Small Brick Set (ABB),Tile 2 x 2 with Groove and Stopwatch with '30'...,700.A-1,24,3068bpr0499,371,19,https://cdn.rebrickable.com/media/sets/700.a-1...
14347,1949,Plastic,Medium Gift Set (ABB),Tile 2 x 2 with Pixelated Honeycomb print,700.3-1,142,3068bpr0487,365,19,https://cdn.rebrickable.com/media/sets/700.3-1...
14329,1949,Plastic,Extra-Large Gift Set (ABB),"Tile 2 x 2 with Groove, Pirate Voice Print",700.1-1,142,3068bpr0469,365,19,https://cdn.rebrickable.com/media/sets/700.1-1...
14342,1949,Plastic,Large Gift Set (ABB),Tile 2 x 2 with Groove and Butterflies print,700.2-1,178,3068bpr0482,365,19,https://cdn.rebrickable.com/media/sets/700.2-1...
...,...,...,...,...,...,...,...,...,...,...
21876,2025,Plastic,ReBuild Activity Cards: Magic,"Minifig Head Elrond, Silver Tiara/Crown, Dark ...",9781837250639-1,0,3626cpr3942,741,59,https://cdn.rebrickable.com/media/sets/9781837...
21875,2025,Plastic,ReBuild Activity Cards: Animals,"Minifig Head Frodo, Reddish Brown Eyebrows, Sm...",9781837250622-1,0,3626cpr3941,741,59,https://cdn.rebrickable.com/media/sets/9781837...
20255,2025,Plastic,Zane,"Minifig Head Chen, Bushy Eyebrows, Red Eyes, M...",892410-1,11,3626cpr1573,435,59,https://cdn.rebrickable.com/media/sets/892410-...
21288,2025,Plastic,LEGO Ideas Activity Book: Animals,"Minifig Head Will Byers, Dark Brown Eyebrows, ...",9780241727416-1,0,3626cpr2995,757,59,https://cdn.rebrickable.com/media/sets/9780241...
11005,2025,Plastic,Spaceman Red Pencil Case Pop Up,"Vehicle Track, Monorail Curve Short Right",53434-1,0,2891,739,36,https://cdn.rebrickable.com/media/sets/53434-1...

In [ ]:
# what were the first materials? when did materials change? 
early_sets = sets_parts[sets_parts['year'] < 1960]
early_sets

In [ ]:
# what are part_num = ideabooks? 

ideabook = sets_parts.loc[sets_parts['part_num'].str.contains('ideabook')]
ideabook

In [ ]:
# sets_themes = sets + themes
sets_themes = sets.merge(themes, left_on="theme_id", right_on='id')

# rename cols
sets_themes = (sets_themes.rename(columns={'name_x':'set_name', 'name_y':'theme_name'}))

# drop col id
sets_themes.drop(columns=['id'])

sets_themes.head(2)

In [ ]:
# sets_themes_inventories = sets_themes + inventories
sets_themes_inventories = sets_themes.merge(inventories, left_on='set_num', right_on='set_num')

sets_themes_inventories.head(2)

In [ ]:
# inventoryparts_colors = inventory_parts + colors
inventoryparts_colors = inventory_parts.merge(colors, left_on='color_id', right_on='id')

inventoryparts_colors.head(2)

In [ ]:
# inventoryparts_colors_parts = inventoryparts_colors + parts
inventoryparts_colors_parts = inventoryparts_colors.merge(parts, left_on='part_num', right_on='part_num')

# rename cols
inventoryparts_colors_parts = (inventoryparts_colors_parts.rename(
    columns={'name_x':'color_name','name_y':'part_name'}))

inventoryparts_colors_parts.head(2)

# Idea

- what's planned for 2025?
- historically how much is wood vs plastic?
- how much for 2025?
- estimate num children potential buyers in 2025
- extrapolate amt of plastic saved from future landfill